

.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}
body{
background-color: #F5F5F5;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;     
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}
.nav-title-text{
    color: red;
    font-size: 50px;
}
.btn{
    color: rgb(0, 106, 80);
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 18px;
    padding:15px 30px;
    border-radius: 8px;
    cursor: pointer;
}
.button00:hover{
    background-color: red; 
}

/*=========== banner style ============*/


.banner-start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 80px;
    box-sizing: border-box;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 60px 80px;
}
.banner-title{
    font-family: Fira Sans;
    color: rgba(14, 14, 14, 0.5);
    font-size: 19px;
    font-weight: 500;
    
}   
.banner-description{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-weight: 700;
    font-size : 44px;
    width: 495px;   
} 
.banner-button{
    border: none;
    border-radius: 8px;
    padding: 13px 27px;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(0, 106, 80);
    cursor: pointer;
}
.banner-button:hover{
    background-color: red;
    
}
.banner-profile-div{
    width: 379px;
}
.banner-profile{
     width: 100%; 
}

 /*======== pillar section start ========*/
.pillar-title-hed{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;   
}
.pillar-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 700;
}
.pillar-section{
    padding: 24px;
    
    margin: 0 auto;
    width: 1024px;
    
    
}
.pillar{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 19px;
}
.pillar-container{
    display: flex;
    gap: 24px;
    width: 1024px;
    margin: 0 auto; 
}
.pillar-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
}

/*======== pillar section ends ========*/


/*======== vision section start ========*/

.vision-title{
    width: 1024px;
    margin: 0 auto;
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
}


.vision-detail{
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 25px;
   
    
}
.vision-container{
    display: flex;
    /* gap: 24px; */
    justify-content: space-between;
    align-items: center;
    /* width: 1024px; */
    /* margin: 0 auto; */
}

.banana{
    background-color: rgba(84, 144, 245, 0.20);
    padding: 32px;
    border-radius: 16px;
}
.banana-btn{
    font-weight: 700;
    font-size: 16px;
    padding:15px 30px;
    border-radius: 8px; 
    border: none;
    color: white;
    background-color:rgba(84, 144, 245, 1.00); 
}
#button1:hover{
    background-color: rgb(255, 194, 57);
}
.mango{
    background-color: rgba(198, 228, 214, 1.00);
    padding: 32px;
    border-radius: 16px;
}
.mango-btn{
    font-weight: 700;
    font-size: 16px;
    padding:15px 30px;
    border-radius: 8px; 
    border: none;
    color: white; 
    background-color:rgba(9, 161, 92, 1.00) ;
    margin-top: 20px;
}
#button2:hover{
    background-color:orange ;
}
.apple{
    background-color: rgba(247, 235, 207, 1.00);
    padding: 32px;
    border-radius: 16px;
}
.apple-btn{
    font-weight: 700;
    font-size: 16px;
    padding:15px 30px;
    border-radius: 8px; 
    border: none;
    color: white;
    background-color:rgba(255, 194, 57, 1.00) ;
}
#button3:hover {
    background-color: red;
}
.yunus{
    width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 25px; 
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    padding: 38px 19px;
}
.article{
    padding: 43px 19px;
}
.r-news{
    width: 1024px;
    margin: 0 auto;
}
.about-news{
 
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
}
.box1{
    font-family: Fira Sans;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    border: 1px solid black;
    gap: 12px;
   
   
}
.box1-right{
    padding: 48px;
}
.box1-left{
   border-radius: 24px;
   padding: 12px;
}
.box1-detail{
    font-size: 12px;
    font-weight: 400;
}
.box1-title{
    font-size: 25px;
    font-weight: 700;
}
.box2{
    font-family: Fira Sans;
    width: 1024px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 24px;
    margin-top: 19px;
}
.box2-detail{
    font-size: 12px;
    font-weight: 400;
}
.box2-title{
    font-size: 25px;
    font-weight: 700;}
.box2-left{
    padding: 48px;}
.box2-right{
    border-radius: 24px;
    padding: 12px;
}






.donate-section{
text-align: center;
width: 1024px;
margin: 0 auto;

.donate-section{
    width: 1024px;
    margin: 0 auto;
}




.donate-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.donate-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.child{
    
    font-family: Fira Sans;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    /* width: 201px;
    height: 102px; */
}
.parent .money{

    background:#198653;
}
.child:hover{
    background-color: red;
    color: white;
}
.donate-input input{
width: 100%;
border: none;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
outline: none;
padding: 16px 32px;
margin: 25px 0px;
}
.donate-input input::placeholder{
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.donate-button-div{
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border: none;
    
    
}
.donate-button{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    background: rgb(0, 106, 80);
    border-radius: 8px;
   padding: 17px 34px;
   border: 1px solid;
}
.donate-button:hover{
    color:rgb(0, 106, 80);
    background: rgb(255, 255, 255);
}








.ending{
    width: 1024px;
    margin: 0 auto;
    margin-top: 64px;  
}
.news-head{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
}
.last-news{
    font-family: Fira Sans;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    text-align: center;
    gap: 24px;
    padding: 65px 80px;
}